ul{
    list-style-type: none;
}
li{
    display: inline;
    margin: 20px;
}
.nav_bar{
    background-color: rgba(13, 97, 175,0.7);
    padding: 5px;  
}
a:link{
    color: white;
}
a:hover{
    color: black;
}
.home{
    border-style: dotted;
}
.abtUs{
    border-style: groove;
}
.contact{
    border-style: dashed;
}
.blog{
    border-style: ridge;
}
.login{
    border-style: double;
}